* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.digits {
  outline: 2px solid white;
  padding: 10px;
  border-radius: 2px;
  font-size: 25px;
  background-color: rgb(197, 212, 225);
}

.colon {
  font-size: 25px;
}
